@font-face {
            font-family: Blogger;
            src: url(Blogger_Sans-Bold.otf);
        }

        html{
            font-family: Blogger;
            background-color: #2980b9;
        }

        h1{
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor:default;
        }

        .area{
            display: block;
            outline: none;
            resize: none;
            padding: 0;
            background-color: #fff;
            width: 97%;
            height: 250px;
            font-size: 16px;
        }

        .wrapper{ 
            position: relative; 
            margin: 0 auto;
            max-width: 900px; 
        }

        .header{
            margin-top:5%;
            width: 80%;
            height: 80px;
            line-height: 80px;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            background-color: #34495e;
        }

        #text{
            position: relative;
            font-size: 50px;
            top: 30px;
            z-index: 1;
            color: #fff;
        }

        #shadow{
            position: relative;
            top: -111px;
            color: #1b2330;
            text-shadow: 0px 0px 2px #1b2330;
            font-size: 55px;
        }

        .line{
            width: 85%;
            height: 80px;
            background-color: #2c3e50;
            transform: perspective( 600px ) rotateX( 70deg );
            margin-top: -28px;   
        }

        .container{
            width: 90.6%;
            background-color: #34495e;
            padding: 2% 0;
            margin-top: -26px;
            -webkit-box-shadow: 0px 3px 15px 0px rgba(50, 50, 50, 0.75);
            -moz-box-shadow:    0px 3px 15px 0px rgba(50, 50, 50, 0.75);
            box-shadow:         0px 3px 15px 0px rgba(50, 50, 50, 0.75);
        }

        #input {
            background: url(images/Pozadina.png) center center no-repeat; /* This ruins default border */
            border: 1px solid #888; 
        }

        .holder{
            background-color: #fff;
            width:90%;
        }

        #obrada{
            color: #fff;
            background-color: #2980b9;
            border: none;
            border-radius: 15px;
            box-shadow: 0 10px #2c3e50;
        }

        #obrada{
            color: #fff;
            background-color: #2980b9;
            border: none;
            border-radius: 15px;
            box-shadow: 0 10px #2c3e50;
            width: 200px;
            height: 50px;
            margin: 20px;
            font-size: 25px;
        }

        #obrada:hover,
        #obrada.hover {
            background-color: #3498db
        }

        #obrada:active,
        #obrada.active {
        background-color: #2980b9;
        box-shadow: 0 5px #2c3e50;
        transform: translateY(5px);
        }

        #obrada:focus { outline: none; }

        @media only screen and (max-width: 600px) {
            body{
                margin: 0;
            }
            .header{
                height: 50px;
                margin-top: -21px;
                width: 89%;
            }
            .line{
                width: 94%;
            }
            .container{
                width: 100%;
            }
            #text{
                font-size: 32px;
                top: 9px;
            }
            #shadow{
                top: -110px;
                font-size: 35px;
            }
            #input{
                background-size: 170% 100%;
            }
        }